.board {
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent content from affecting size */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board-row {
  display: flex;
}

.board-row:not(:first-child) {
  margin-top: -2px;
}
