.playground-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.playground-container button {
  width: 50px;
  height: 80px;
}

.playground-container .button-wrapper {
  position: relative;
}

.playground-container .button-wrapper:not(:first-child)::after {
  content: '';
  position: absolute;
  top: -1rem;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, transparent, #ffffff80, transparent);
}
