.board-cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 2px solid #ffffff1a;
  border-radius: 16px;
}

.board-cell:not(:first-child) {
  margin-left: -2px;
}

.shadow {
  border-color: #ffffff1a;
  animation: shadowPop 0.3s cubic-bezier(0.37, 0.96, 0.64, 1.13) forwards;
}

.start {
  background-color: #00ff0040;
  border-color: #00ff0070;
  border-width: 4px;
}

.end {
  background-color: #ff000040;
  border-color: #ff000070;
  border-width: 4px;
}

@keyframes shadowPop {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.wall {
  background-color: #cccccc22;
  border-color: #aaaaaaaa;
  border-width: 3px;
  animation: wallPop 0.3s cubic-bezier(0.37, 0.96, 0.64, 1.13) forwards;
}

/* Vertical Connection */
.wall.top {
  border-bottom-width: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.wall.bottom {
  border-top-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.wall.mid {
  border-top-width: 0;
  border-bottom-width: 0;
  border-radius: 0;
}

/* Horizontal Connection */
.wall:has(+ .wall) {
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.wall + .wall {
  border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.wall + .wall:has(+ .wall) {
  border-radius: 0;
}

@keyframes wallPop {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.visited {
  position: relative;
}

.visited::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 50%;
  height: 50%;
  border-radius: 30%;
  border: 2px solid rgba(147, 120, 220, 0.5);
  background-color: rgba(147, 120, 220, 0.2);
  animation: visited 0.4s linear forwards;
}

@keyframes visited {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  50% {
    opacity: 0.5;
    transform: translate(-50%, -50%) scale(1.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.path.visited::before {
  animation: path 0.4s linear forwards;
}

@keyframes path {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    border: 2px solid rgba(255, 200, 50, 0.5);
    background-color: rgba(255, 200, 50, 0.2);
  }
}
