.board-cell {
  width: 40px;
  height: 40px;
  border: 2px solid #ffffff1a;
  border-radius: 16px;
  transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
}

.board-cell:not(:first-child) {
  margin-left: -2px;
}

.start {
  background-color: #00ff0010;
  border-color: #00ff0040;
}

.end {
  background-color: #ff000010;
  border-color: #ff000040;
}

.visited {
  position: relative;
}

.visited::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  border-radius: 30%;
  border: 2px solid rgba(147, 120, 220, 0.5);
  background-color: rgba(147, 120, 220, 0.2);
  animation: visited 0.4s linear;
}

@keyframes visited {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  50% {
    opacity: 0.5;
    transform: translate(-50%, -50%) scale(1.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
