*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input,
button,
a {
  text-decoration: none;
  font-family: inherit;
}

ul {
  list-style: none;
}

li {
  list-style-type: none;
}
